body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.selector img {
  cursor: pointer;
}

#interactionDisplay {
  text-align: center;
  font-size: 1.2em;
  color: #333;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.icon {
  width: 200px;  /* adjust as needed */
  height: 200px; /* adjust as needed */
  display: inline-block; /* Display images inline */
  margin-right: 10px; /* Add some space between images */
}


.faded {
  opacity: 0.2;
}
/* Add a class for the animation */
.selected {
  animation: slide-right 2s forwards;
}

@keyframes slide-right {
  to { transform: translateX(300px); }
}

@keyframes slide-right {
  100% { transform: translateX(100%); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fade-in 1s forwards;
}
#interactionChart {
  width: 100px;
  max-width: 30%; /* Ensure the chart doesn't overflow its container */
  height: 100px;
}
#studyDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#studyDetails > div {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
}
#conclusionsContainer, #methodsContainer, #objectivesContainer {
  text-align: center;
  color: #333; /* Change the text color */
  font-size: 16px; /* Change the font size */
  line-height: 1.5; /* Change the line height */
    /* Add more styles as needed *  
}  
#conclusionsContainer {
  background-color: #f9f9f9; /* Change the background color */
} 
#methodsContainer {
  background-color: #f0f0f0; /* Change the background color */
}
#objectivesContainer {
  background-color: #e9e9e9; /* Change the background color */
}
#conclusionsContainer h2, #methodsContainer h2, #objectivesContainer h2 {
  margin-bottom: 10px; /* Add some space below the heading */
}
#conclusionsContainer p, #methodsContainer p, #objectivesContainer p {
  margin-bottom: 10px; /* Add some space below the paragraph */
}

#centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Adjust as needed */
  width: 80%; /* Adjust as needed */
  margin: 0 auto; /* Centers the container horizontally */
}